{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <div class="w-full lg:w-2/3 mx-auto my-8 bg-white p-8 rounded-md">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-xl text-gray-800 mx-4 my-4">{% trans %}Register{% endtrans %}</h1>

        {{ form_start(registrationForm) }}
        <div class="block w-2/3 mx-4 my-4">
            {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'text-gray-700'}}) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input mt-1 block w-full'}}) }}
            {{ form_errors(registrationForm.email, {'attr': {'class': 'text-red-900'}}) }}
        </div>
        <div class="block w-2/3 mx-4 my-4">
            {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'text-gray-700'}}) }}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-input mt-1 block w-full'}}) }}
            {{ form_errors(registrationForm.plainPassword.first, {'attr': {'class': 'text-red-900'}}) }}
        </div>
        <div class="block w-2/3 mx-4 my-4">
            {{ form_label(registrationForm.plainPassword.second, 'Repeat password', {'label_attr': {'class': 'text-gray-700'}}) }}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-input mt-1 block w-full'}}) }}
            {{ form_errors(registrationForm.plainPassword.second, {'attr': {'class': 'text-red-900'}}) }}
        </div>
        <div class="block w-2/3 mx-4 my-4">
            {{ form_label(registrationForm.agreeTerms, 'Agree terms', {'label_attr': {'class': 'text-gray-700'}}) }}
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': ''}}) }}
            {{ form_errors(registrationForm.agreeTerms, {'attr': {'class': 'text-red-900'}}) }}
        </div>
{#        {{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-4 my-4">
          {% trans %}  Register {% endtrans %}
        </button>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
